# デフォルトの無視対象ファイル
/shelf/
/workspace.xml
# データソースのローカルストレージ用のため無視されるファイル
/../../../../../../../:\Users\goshi\Desktop\git\atcoder\.idea/dataSources/
/dataSources.local.xml
# エディターベースの HTTP クライアントリクエスト
/httpRequests/

bin/
.idea/
obj/
*.csproj/
